<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="log.base" value="${catalina.base}/logs"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss:sss} [%thread] %-5p %logger.%M\(%F:%L\)] %msg%n</pattern>
        </encoder>
    </appender>

    <!--<appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/hds-task.%d{yyyy-MM-dd}.log
            </fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss:sss} [%thread] %-5p %logger.%M\(%F:%L\)] %msg%n</pattern>
        </encoder>
    </appender>-->

    <logger name="org.springframework" level="info"/>
    <logger name="org.codehaus" level="debug"/>
    <logger name="com.lxz" level="debug"/>

    <root level="info">
        <appender-ref ref="console"/>
    </root>
</configuration>